<div class="container">
    <br>
    <h2>Demo Videos</h2><br>
    <br>
    <!-- <a href="/screen/deleteFeature/<%=id%>" type='button' class="btn btn-danger">Delete</a> -->
    <a href="/screen/Edit_Course/<%=id%>" type='button' class="btn btn-dark">Back to Edit Courses</a>

    <br>
    <br><br>
<div class="card w-80" >
    <ul class="list-group list-group-flush">
        
     
    </ul>
        <div class="row row-cols-1 row-cols-md-3">
         
                <% te.forEach((lec)=>{%>
                    <%console.log(' in Demo Videos page ::=====================')%>
                    <%console.log(lec)%>
                    <%console.log('=====================>')%>
                <div class="col mb-4">
                    <div class="card h-100">
                    <img src='<%=lec.thumbnailUrl%>'  height="250px" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title"><%=lec.title%></h5>
                        
                        <% if(lec.url.length <= 12){%>
                            <%console.log('[+] spawn==============$$################################')%>
                           <a href='<%=lec.videoUrl%>' type='button' class='btn btn-primary'>Play lecture</a>
                            <%}else{%>
                                <% console.log('ok url is on!!!!!!!!!!!!!!!!!!!!!!!!!!!!'+ lec.url)%>
                            <a href='<%=lec.url%>' type='button' class='btn btn-primary'>Play lecture</a>
                            <%}%>
                        <p class="card-text"><%=lec.desc%></p>
                    </div>
                        <div class="card-footer">
                  <span class="">
                        
        
                        <a href="/screen/Delete_DemoVideos/<%=id%>/<%=lec.id%>" style="margin:5px"  type="button" class="btn btn-danger float-right">Delete</a>
                        
                    </span>
                </div>
                    </div>
                </div>
            <%})%>
       
        
        </div>
    <!-- <div class="card-footer">
      Card footer
    </div> -->
  </div>



</div>