<nav class="navbar navbar-expand-lg navbar-dark text-dark bg-light bg-invisible" style="margin-top:-20px;">
    <a class="navbar-brand text-dark" href="/screen/udmyPanel">Linedraw</a>
    <button class="navbar-toggler " style='background:rgb(196, 187, 187);' type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon " ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
          <a class="nav-link text-muted" href="/screen/udmyPanel">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="/screen/viewCourse/<%=id%>">View Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="/screen/manageSections/<%=id%>">Manage Sections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="/screen/DemoVideos/<%=id%>">Demo videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="/screen/manageFeatures/<%=id%>">Manage features</a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
     
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        <a class="btn btn-danger float-right"  style="margin-left:10px;" type="button" href="/screen/signout/signout">Signout</a>
      </form>
    </div>
  </nav>
<br>



<div class="container">

    <form action="/screen/Edit_Course" enctype="multipart/form-data" method="post">
        <h3 style="display:inline-block" class='text-dark'>Edit Course</h3>
        <br>
        <br>
        <a href="/screen/GetCourses" type="button" class="btn btn-dark">Back to all courses</a> 
        <!-- <span class="float-right">

            <a href="/screen/manageFeatures/<%=id%>" style="display:inline-block;margin-left:20px;" type='button'
                class='btn btn-primary float-right'>
                Manage Features</a>
            <a href="/screen/DemoVideos/<%=id%>" style="display:inline-block;margin-left:20px;" type='button'
                class='btn btn-primary float-right '>
                Demo Videos</a>
            <a href="/screen/manageSections/<%=id%>" style="display:inline-block;margin-left:20px;" type='button'
                class='btn btn-primary float-right '>
                Manage Sections</a>
            <a href="/screen/viewCourse/<%=id%>" style="display:inline-block;" type='button'
                class='btn btn-primary float-right '>
                View Course</a>
        </span> -->
        <br>
        <br>
        <div class="form-group">
            <label class='text-dark' for="">Course Title</label>
            <input type="hidden" name='id' value="<%=id%>">
            <input type="text" class="form-control" name="title" value='<%=data.title%>' placeholder='<%=data.title%>'>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Category Name</label>
            </div>
            <select class="custom-select" name='course_name' 
            
            value='<%=data.category%>' id="inputGroupSelect01">

                <!-- <option selected value='<%=data.category%>'>
                    <%= data.category%>
                </option> -->
                <% categories.docs.forEach((cate)=> { %>
                    <% if(cate.data().title==data.category){%>
                        <option selected value="<%=cate.data().title%>">
                            <%=cate.data().title%>
                        </option>
                   <% }else{%>
                        <option value="<%=cate.data().title%>">
                            <%=cate.data().title%>
                        </option>
                   <% }%>
                   
                <%}) %>

            </select>
        </div>
        <div class="form-group">
            <label class='text-dark' for="">Course Description</label>
            <input type="text" class="form-control" name="description" value='<%=data.description%>'
                placeholder="Enter Description">
        </div>
        <div class="form-group">
            <label class='text-dark' for="">Course Tag</label>
            <input type="text" class="form-control" name="tag" value='<%=data.tag%>' placeholder="Enter Tag">
        </div>
        <!-- test zone(*) -->
        <p>
            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExampleA"
                aria-expanded="false" aria-controls="collapseExampleA">
                Free / Paid
            </button>
        </p>
        <div class="collapse" id="collapseExampleA">
            <div class="card card-body">
                <p class='text-danger'>* Set price or leave it zero</p>
                <div class="form-group">
                    <label for="">Course Price</label>
                    <input type="text" class="form-control" name="price" value='<%=data.price%>'
                        placeholder="Enter price">
                </div>
                <div class="form-group">
                    <label for="">Discount Price</label>
                    <input type="text" class="form-control" name="oldPrice" value='<%=data.oldPrice%>'
                        placeholder="Enter price">
                </div>

            </div>
        </div>

        
        <!-- <div class="custom-control custom-switch">
                <input type="checkbox" name='Duration'class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Duration</label>
            </div> -->
        <!-- test zone(*) end -->
        <p>
            <a class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Expiry Date
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p class='text-info'>* Write expiry date in Days or months</p>
                <div class="form-group">
                    <label for="">Days</label>
                    <input type="number" class="form-control" name="Days" value='<%=data.Days%>'
                        placeholder="Enter Days">
                </div>
                <div class="form-group">
                    <label for="">Months</label>
                    <input type="number" class="form-control" name="Months" value='<%=data.Months%>'
                        placeholder="Enter Months">
                </div>

            </div>
        </div>

        <!-- zone 2 end -->
<p>
    <a class="btn btn-warning" type="button" data-toggle="collapse" data-target="#upload"
        aria-expanded="false" aria-controls="upload">
        upload
    </a>
</p>
<div class="collapse" id="upload">
    <div class="card card-body">
        <div class="form-group">
            <label class='text-dark' for="">Upload Banner Image </label><br>
            <input type="file" name="bannerImage" accept="image/gif, image/jpeg, image/png">
        </div>
        <div class="form-group">
            <label class='text-dark' for="">Upload ‎Video Thumbnail</label><br>
            <input type="file" name="videoThumbnail" id="" accept="image/gif, image/jpeg, image/png">
        </div>
        <div class="form-group">
            <label class='text-dark' for="">Upload Video</label><br>
            <input type="file" name="video" accept="image/gif, image/jpeg, image/png">
        </div>

    </div>
</div>


       



        <!-- <br>    <div class="custom-control custom-switch">
          
            <input type="checkbox" name="courseStatus" class="custom-control-input" id="customSwitch1"/>
            <label class="custom-control-label text-light" for="customSwitch1">Course Status</label>
        </div><br> -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Course Status</label>
            </div>
            <select class="custom-select" name='courseStatus' 
            <!-- value='<%=data.courseStatus%>' -->
                 id="inputGroupSelect01">


                <!-- <option selected value='<%=data.courseStatus%>' style='text-transform: uppercase'>
                    <%= data.courseStatus%>
                </option> -->
                <% if(data.courseStatus=='on'){ %>
                    <option selected value="on">ON</option>
                    <option value="off">OFF</option>
               <% }else {%>
                <option  value="on">ON</option>
                <option selected value="off">OFF</option>

               <% }%>


            </select>
        </div>


        <button type="submit" class="btn btn-success">update</button>
    </form>
    <br>
   
</div>
<!-- add sections and then work on leactures -->


<div class="container">
    <form action="/screen/"></form>
</div>









<!-- <p>
    <a class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Add Thumbnails
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
       

    </div>
</div> -->
