<div class="container">
<br><br>

<form action="/screen/Edit_Lecture" enctype="multipart/form-data" method="post">
    <input type="hidden" name='id' value="<%=id%>">
    <input type="hidden" name='lec_id' value="<%=lec_id%>">
    <input type="hidden" name='uid' value="<%=uid%>">
    <h3 class='text-dark'>Edit Lecture</h3>
    <div class="form-group">
        <label class='text-dark display-5' for="">Title</label>
        <input type="text" class="form-control" name="title" value='<%=title%>' placeholder="<%=title%>..." required>
        <input type="hidden" name="old_title" value='<%=title%>' >
        <input type="hidden" class="form-control" name="sec_id" value='<%=sec_id%>' >
    </div>
    <br>
    <!-- <label for="">URL</label>
    <input type="text" name='url' class="form-control" placeholder="Enter url" > 
    <br> -->
    <div class="form-group">
        <label  class='text-dark display-5'for="">Upload Thumbnail </label><br>
        <input type="file" name="lectureThumbnail" >
    </div>
    
    <div class="form-group">
        <label  class='text-dark display-5'for="">Upload VideoUrl </label><br>
        <input type="file" name="lectureVideoUrl" >
    </div>
   
    <button type="submit" class="btn btn-success">Upload</button>
    <br><br>
    <a type="submit" href='/screen/GetSection/<%=id%>/<%=sec_id%>/<%=uid%>' class="btn btn-danger">cancel</a>
</form>



</div>