<div class="container">
    <br>
    <h2><%=title%></h2><br><br>
    <h3 class='text-dark' style="display:inline-block;">Add Lecture</h3><br><br>

        <a href="/screen/uploadQuiz/<%=id%>/<%=sectionId%>/<%=title%>" style="margin:5px;display:inline-block;"  type="button" class="btn btn-primary float-left">Manage Quiz</a> <br><br>

    <form action="/screen/AddLec" enctype="multipart/form-data" method="post">
        <input type="hidden" name='id' value="<%=id%>">
        <input type="hidden" name='title' value="<%=title%>">
        <input type="hidden" name="sectionId" value="<%=sectionId%>">
        <br>
        <div class="form-group">
            <label  class='text-dark'for="">Title</label>
            <input type="text" class="form-control" name="leacture" value='' placeholder="Enter lecture name ..." required>
            <br>
            <div class="form-group">
                <label class='text-dark' for="">Upload Thumbnail </label><br>
                <input type="file" name="lectureThumbnail" required >
            </div><br>
            <div class="form-group">
                <label  class='text-dark'for="">Upload video  </label><br>
                <input type="file" name="lectureVideoUrl" required >
            </div><br>
            
            <div class="custom-control custom-switch">
                <input type="checkbox" name='Demo'class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label text-dark" for="customSwitch1">Demo Video</label>
            </div>
            
         
            <br>
        </div>
    
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
    <br><br>

    <!-- Edit Quiz quizDesc and quizThumnail -->
    <form action="/screen/Edit_quiz" method="post">

        <input type="hidden" name='id' value="<%=id%>">
        <input type="hidden" name='title' value="<%=title%>">
        <input type="hidden" name="sectionId" value="<%=sectionId%>">

        <label  class='text-dark'for="">Quiz Description</label>
        <input type="text" class="form-control" name="quizDesc" value='' placeholder="Enter Quiz Description ..." required>
        <br>
       
        <label for="">Quiz Thumbnail </label><br>
        <input type="file" name="quizThumbnail" >
        <br><br>
        <button type="submit" class="btn btn-primary">Add</button><br><br><br>
    </form>
    <!-- ==== -->

    <!-- upload MCQS OR QUIZ -->
    <form action="/screen/uploadQuiz" method="post">
        <h3>Add Quiz</h3>

        <br>

        <input type="hidden" name='id' value="<%=id%>">
        <input type="hidden" name='title' value="<%=title%>">
        <input type="hidden" name="sectionId" value="<%=sectionId%>">
        <br>

        <div class="form-group">
             <!-- example -->
             <p>
                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExampleA" aria-expanded="false" aria-controls="collapseExampleA">
                  Example Question
                </button>
            </p>
              <div class="collapse" id="collapseExampleA">
                <div class="card card-body">
                    <p class='text-info'>* Who was the first American President?</p>
                    <div class="form-group">
                        <label  for="">Options</label>
                        <input type="readonly" class="form-control"value='Abraham-Lincoln,putin,Trump,John' disabled>   
                        <label  for="">Correct Option</label>
                        <input type="readonly" class="form-control" placeholder="Abraham-Lincoln" value='Abraham-Lincoln' disabled>
                    </div>
                 
                </div>
                </div>
                <br>
            <!-- example -->
            <label  class='text-dark'for="">Question</label>
            <input type="text" class="form-control" name="question" value='' placeholder="Enter Question ..." required>
            <br>
           
            <label for="">Options</label>
            <input type="text" class="form-control" name="options" placeholder='Enter four options separated by commas, with no spaces'>
            <br>
            <label for="">Correct Option</label>
            <input type="text" class="form-control" name="answer" placeholder='Enter correct option ...'>
            <br>
        </div>
        <button class="btn btn-success" type="submit">Add</button>
    </form><br>



    <!-- <a href="/screen/deleteFeature/<%=id%>" type='button' class="btn btn-danger">Delete</a> -->
    <a href="/screen/manageSections/<%=id%>" type='button' class="btn btn-dark">Back to Sections</a>

    <br>
    <br><br>
<div class="card w-80" >
    <ul class="list-group list-group-flush">
        
        <% sections.forEach((leacture)=>{%>
        <li class="list-group-item">
            <%=leacture.data().title%>

          
        </li>
     <%})%>
    </ul>
        <div class="row row-cols-1 row-cols-md-3">
        <% te.forEach((lec)=>{%>
            <%console.log(' un def=====================')%>
            <%console.log(lec)%>
            <%console.log('=====================')%>
        <div class="col mb-4">
            <div class="card h-100">
            <img src='<%=lec.lectureThumbnail%>'  height="250px" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title"><%=lec.title%></h5>
                <a src='<%=lec.lectureVideoUrl%>' type='button' class='btn btn-primary'>Play lecture</a>
                <p class="card-text"><%=lec.desc%></p>
            </div>
                <div class="card-footer">
          <span class="">
                
              

                <a href="/screen/Delete_Lecture/<%=id%>/<%=sectionId%>/<%=lec.id%>/<%=title%>" style="margin:5px"  type="button" class="btn btn-danger float-right">Delete</a>
                
                <a href="/screen/Edit_Lecture/<%=id%>/<%=sectionId%>/<%=lec.id%>/<%=lec.title%>/<%=title%>" style="margin:5px" type="button" class="btn btn-success float-right">Edit</a>
            </span>
        </div>
            </div>
        </div>
        <%})%>
        </div>
    <!-- <div class="card-footer">
      Card footer
    </div> -->
  </div>



</div>