<nav class="navbar navbar-expand-lg navbar-dark text-dark bg-light bg-invisible" style="margin-top:-20px;">
    <a class="navbar-brand text-dark" href="#">Linedraw</a>
    <button class="navbar-toggler " style='background:rgb(196, 187, 187);' type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon " ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="/screen/udmyPanel">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/screen/addCourse">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/screen/editCourse">Edit</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
     
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <a class="btn btn-danger float-right"  style="margin-left:10px;" type="button" href="/screen/signout/signout">Signout</a>
      </form>
    </div>
  </nav>





<!-- <div class="container">
    <br><br>
    <h2>All Courses</h2>
    <hr style="width:20%" class="float-left">
    <br><br>

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
</div> -->

<!-- old design -->


<!-- <div class="container">
    <br><br>
    <h2>All Courses</h2>
    <hr style="width:20%" class="float-left">
    <br><br>


    <div class="row row-cols-1 row-cols-md-3">
        <%courses.docs.forEach((course) => {%>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="<%=course.data().imgUrl%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=course.data().title%></h5>
              <p class="card-text text-muted"><%=course.data().description%>.</p>
            <%if(course.data().bestseller == 'true'){%>
                <br>
              <caption class='text-warning'>- Best Seller</caption>
              <%}%>
            </div>
            <div class="card-footer">Rating: <%=course.data().rating%> stars</div>
          </div>
        </div>
        <%})%>
    </div>
 -->


 <div class="container">
    <br><br>
    <h2>Home Page</h2>
    <hr style="width:20%;" class="float-left">
    <br><br>

    <div class="row">
      <div class="col-sm-6" >
        <div class="card">
          <div class="card-body" style='background:rgb(244, 243, 243)'>
            <h5 class="card-title">Total Sales</h5>
            <p class="card-text">We have already sold over <%=count%> courses worldwide.</p>
            <a href="/screen/udmyPanel" class="btn btn-primary">Refresh now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6" >
        <div class="card">
          <div class="card-body" style='background:rgb(244, 243, 243)'>
            <h5 class="card-title">Courses</h5>
            <p class="card-text">Section to View, Create, Edit and Delete Courses</p>
            <a href="/screen/GetCourses" class="btn btn-primary">Get Courses</a>
          </div>
        </div>
      </div>
      
    </div>
    <br>
    <div class="row" >  
        <div class="col-sm-6" >
          <div class="card" >
            <div class="card-body" style='background:rgb(244, 243, 243)'>
              <h5 class="card-title">Categories</h5>
              <p class="card-text">Click to Create, Edit, View and Delete Categories.</p>
              <a href="/screen/GetCategories" class="btn btn-primary">Get catagories</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6" >
          <div class="card">
            <div class="card-body" style='background:rgb(244, 243, 243)'>
              <h5 class="card-title">Notifications</h5>
              <p class="card-text">Used to send notifications to your existing users.</p>
              <a href="/screen/notification" class="btn btn-success">Send Notification</a>
            </div>
          </div>
        </div>
     
    </div>
    
</div>